
:host {
  * {
    user-select: none;
    box-sizing: border-box;
  }

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ngx-pulse-loader {
    margin-right: 100px;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  .row {
    margin-bottom: 100px;
    display: flex;
  }
}
